FROM openjdk:9.0.4-12-slim

RUN \
  groupadd --gid 1111 sask && \
  useradd \
    --comment "This is the user under which SASK microservices runs and that owns the data directory" \
    --uid 2222 \
    --gid 1111 \
    --shell /bin/bash \
    sask

RUN \
  mkdir /sask/ && \
  chown -R sask:sask /sask/

COPY {{ item }}.war /sask/{{ item }}/{{ item }}.war

ENV PATH=$PATH:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin

USER sask

WORKDIR /sask/{{ item }}/

CMD ["java","-jar","{{ item }}.war"]
