<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="STASH"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logback/redditApp.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy" >
			<fileNamePattern>logback/redditApp.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>

 	<!-- Send debug messages to System.out --> 
<!-- 	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> -->
<!-- 		<encoder> -->
<!-- 			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n -->
<!-- 			</pattern> -->
<!-- 		</encoder> -->
<!-- 	</appender> -->

<!-- 	<logger name="com.javacodegeeks.examples.logbackexample.beans" -->
<!-- 		level="INFO" additivity="false"> -->
<!-- 		<appender-ref ref="STDOUT" /> -->
<!-- 	</logger>   -->

	<!-- By default, the level of the root level is set to DEBUG -->
	<root level="all">
		<!-- <appender-ref ref="STDOUT" /> -->
		<appender-ref ref="STASH" />
	</root>

</configuration>