#ex-workspace {
	height: 500px;
	-webkit-box-sizing: border-box;
	border: rgb(221, 221, 221);
	border-style: solid;
	border-width: 1px;
	border-radius: 4px;
}

#ex-workspace>div:nth-child(1) {
	line-height: 35px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #e7e7e7;
	padding: 5px;
}