#ex-workspace {
	min-height: 500px;
	height: 500px;
}

#ex-workspace>div:nth-child(1) {
	height: 9%;
	background-color: #f8f8f8;
	border-bottom: 1px solid #e7e7e7;
	padding: 5px;
}

#ex-workspace>div:nth-child(2) {
	height: 91%;
}