#chat-chatbot {
	min-height: 500px;
}

#chat-chatbot .chat-footer {
	padding: 10px 15px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-bottom: 0px;
}

#chat-chatbot .chat-body {
	overflow-y: scroll;
	height: 443px;
}

#chat-chatbot .chat-footer .chat-textfield {
	width: 70%;
	display: inline;
}

#chat-chatbot .chat-footer .chat-send {
	width: 30%;
}

#chat-chatbot .chat {
	margin: 5px;
	padding: 0;
}

#chat-chatbot .chat-body .chat .card {
	margin-bottom: 5px;
	margin-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #B3A9A9;
}

#chat-chatbot .chat-body .chat .card.left {
	
}

#chat-chatbot .chat-body .chat .card .messageHead {
	height: 1.5em;
}

#chat-chatbot .chat-body .chat .card.error {
	background-color: #FF7F50;
}

#chat-chatbot .chat-body .chat .card .messageHead {
	margin: 0;
	color: #777777;
}